<%- include('../layout', { title: title, body: `
  <div class="row">
    <div class="col-12">
      <% if (employees.length > 0) { %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>Salary</th>
              <th>Gender</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% employees.forEach(employee => { %>
              <tr>
                <td><%= employee._id %></td>
                <td><%= employee.name %></td>
                <td><%= employee.address %></td>
                <td>$<%= employee.salary.toLocaleString() %></td>
                <td><%= employee.gender %></td>
                <td>
                  <a href="/employees/<%= employee._id %>/edit" class="btn btn-sm btn-warning btn-space">Edit</a>
                  <form action="/employees/<%= employee._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <div class="alert alert-info">No employees found. Add a new employee to get started.</div>
      <% } %>
    </div>
  </div>
  ` }) %>